@font-face {
  font-family: "NeueHaasDisplayLight";
  src: local("NeueHaasDisplayLight"), url("../../assets/NeueHaasDisplayLight.ttf") format("truetype");
}

/* Tracklist Container */
.tracklist-container {
  overflow: auto;
  scrollbar-width: none;
  color: #141a18;
  user-select: none;
}

.tracklist-container-mobile {
  width: 89%;
  height: auto;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-left: 3vw;
  margin-top: 0;
}

.tracklist-container-desktop {
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 100px;
  margin-left: 0;
}

.tracklist-container::-webkit-scrollbar {
  display: none;
}

/* Tracklist Content */
.tracklist-content {
  font-family: "NHaasGroteskDSPro-75Bd";
  font-size: 2.1rem;
  line-height: 2.1rem;
}

.tracklist-item-wrapper {
  line-height: 1;
  opacity: 1;
  filter: blur(0);
  transition: opacity 0.3s ease-in, filter 1.5s ease-out;
}

.tracklist-item-wrapper-hidden {
  opacity: 0;
  filter: blur(5px);
}

/* Tracklist hover effects */
.track-item {
  background-color: transparent;
  color: inherit;
  transition: background-color 0.5s ease 0.3s, color 0.5s ease 0.3s;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  display: inline;
  padding-top: 0;
  margin-top: -20px;
}

.track-item-hovered {
  transition: background-color 0s ease, color 0s ease;
}

.track-item:hover {
  /* Colors will be set via inline styles with JavaScript */
  transition: background-color 0s ease 0s, color 0s ease 0s;
}

.track-item:hover span {
  color: inherit !important; /* Inherit the random color from parent */
}

.track-item-default-color {
  color: #434a47;
}

.track-item-default-color-playing {
  color: #9a9e9c;
}

/* Track Number */
.track-number {
  font-family: "dot", "VCR", monospace;
  vertical-align: super;
  font-size: 0.5em;
  color: inherit;
}

/* Track Title */
.track-title {
  color: inherit;
  letter-spacing: -0.5px;
  
}

.track-title-section-break {
  font-family: "dot", "VCR", monospace;
  color: #424b48;
  font-size: 0.5em;
}

.track-title-section-break-playing {
  font-family: "dot", "VCR", monospace;
  color: #9e9a9a;
  font-size: 0.5em;
}

.track-title-section-break-hovered {
  font-family: "dot", "VCR", monospace;
  font-size: 0.5em;
  color: inherit;
}

/* Track Artist */
.track-artist {
  font-family: "NeueHaasDisplayRoman";
  color: inherit;
  letter-spacing: -1px;
  padding-right: 5px;
}

