/* Article Container */
.article-container {
  width: 100%;
  height: 100dvh;
  min-height: 100dvh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.article-container-mobile {
  display: block;
  position: relative;
}

.article-container-desktop {
  display: flex;
  position: fixed;
}

/* Article Spacer */
.article-spacer {
  width: calc(3vw + 284px);
  flex-shrink: 0;
}

/* Article Content Container */
.article-content-container {
  display: flex;
  flex-direction: column;
}

.article-content-container-mobile {
  flex: none;
  height: auto;
  overflow: visible;
}

.article-content-container-desktop {
  flex: 1;
  height: 100dvh;
  overflow: hidden;
}

.article-content-container-padding-top-playing {
  padding-top: 45px;
}

.article-content-container-padding-top-not-playing {
  padding-top: 0px;
}

/* Article Scroll Container */
.article-scroll-container {
  overflow: auto;
  padding: 30px;
  padding-bottom: 100px;
  height: 100%;
  scrollbar-width: none;
}

.article-scroll-container-playing {
  width: 89%;
}

.article-scroll-container::-webkit-scrollbar {
  display: none;
}

/* Article Description */
.article-description-wrapper {
  margin: 0;
}

.article-description-paragraph {
  margin: 0;
  break-inside: avoid;
  page-break-inside: avoid;
}

/* Article Mobile Description */
.article-content-description__mobile {
  font-family: "Helvetica";
  font-size: 5vw;
  margin-left: 3vw;
}

.article-content-description__mobile-playing {
  width: 90%;
  padding-bottom: 20px;
}

.article-content-description__mobile-not-playing {
  width: 95%;
  padding-bottom: 10px;
}

