/* Radiogram 2 - MANNY!'s Interview */
.radiogram-2 {
color: #434a47;
  
  padding-top: 50px;
}

/* Blur and fade animation - optimized for performance */
.radiogram-2 p.fade-blur {
  opacity: 0;
  filter: blur(8px);
  transform: translate3d(0, 20px, 0);
  transition: opacity 2s ease-out, filter 1s ease-out, transform 1s ease-out;
  will-change: opacity, filter, transform;
  contain: layout style paint;
}

.radiogram-2 p.fade-blur.visible {
  opacity: 1;
  filter: blur(0);
  transform: translate3d(0, 0, 0);
  will-change: auto;
}

.radiogram-2 p {
  font-family: "NeueHaasDisplayRoman";
  font-size: 1rem;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  letter-spacing: -0.2px;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}


/* Bold text styling */
.radiogram-2 b {
  font-weight: 600;
}


/* Force column break */
.radiogram-2 .column-break {
  break-before: column;
  page-break-before: always;
  -webkit-column-break-before: always;
}

/* RP question styling with red square inline */
.radiogram-2 .rp-question {
  font-size: 14px;
  font-family: "NeueHaasDisplayRoman";
  line-height: 1.1;
  display: inline-block;
  margin-bottom: 10px;
  color: #747b78;

}

.radiogram-2 .rp-question::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: rgb(255, 0, 90);
  margin-right: 3px;
  margin-top: 4px;
  vertical-align: top;
}

/* EBK answer styling with blue square inline */
.radiogram-2 .ebk-answer {
  font-family: "NeueHaasDisplayRoman";
  font-size:25px;
}

.radiogram-2 .ebk-answer::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #606060;
  margin-right: 3px;
  margin-top: 4px;
  vertical-align: top;
}



