@font-face {
  font-family: "VCR";
  src: local("VCR"), url("./assets/VCR_OSD_MONO.ttf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "dot";
  src: local("VCR"), url("./assets/dotmatrix.woff") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplayRoman";
  src: local("Neue Haas Grotesk Display"), url("./assets/NeueHaasDisplayRoman.woff") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplayMedium";
  src: local("Neue Haas Grotesk Display"), url("./assets/NeueHaasDisplayMediu.woff") format("opentype");
  font-style: normal;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes guestFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) scale(0.95);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%)
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%)
  }
}

@keyframes visitor-loadin {
  0% {

    transform: translateY(1000px);
  }
  100% {
  transform: translateY(0px);

  }
}



@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes glow{
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  75%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

canvas {
  display: block;
  margin: auto; /* ✅ make sure it centers */
}

.fadeOutGrid {
  user-select: none;
  opacity: 1;
  animation: fadeOut 0.5s ease-in-out forwards;
}

.fadeInGrid {
  user-select: none;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.flex-container-mob {
  position: relative;
  width: 100vw;
  transition: all 0.4s ease-in-out;
  display: flex;
  left: 0;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;
  gap: 0vw;
  height: 50vh;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  scroll-behavior: smooth;

}

.flex-container {
  position: relative;
  display: flex;
  width: 500px;
  height: 500px;
}

.total-container {
  position: fixed;
  left: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.total-container-all{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 90vw;
padding-left: 5vw;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 9999;
  pointer-events: none;
  width: 14vw;
  padding: 0;
  line-height: 1.9vh;
  will-change: transform;
}

.cursor-mobile {
  position: fixed;
  display: block;
  bottom: 7vh;
  margin-left: 3vw;
  width: 50vw;
  margin-top: 20px; /* Adjust spacing below total-container */
}


.cursor-title {
  font-family: NeueHaasDisplayRoman;
  line-height: 0.4;
  color: #434a47;
  margin: 0;
}
.cursor-title-playing {
  font-family: Helvetica;
  color: white;
  margin: 0;
}



.article-content-description__mobile{
  animation: fadeIn 0.3s ease-in forwards;
  animation-delay: 0.2s;
  opacity: 0;
}


.info-container {
  opacity: 0;
  height: 100vh;
  position: absolute;
  padding: 3vh;
  bottom: 0;
  left: 0;
  animation: fadeIn 0.3s ease-in forwards;
  animation-delay: 0.5s;
  transition: all 0.3s;
  width: 40vw;
  height: auto;
  font-weight: 100;
  font-family: Helvetica;
  color: black;
  font-size: 3vh;
}

.info-mob-addon {
  width: 70%;
  font-size: 2vh;
}

.play{
  font-family: "Helve";
    transition: all 0.2s ease-out;

}

.play:hover{
  transform: scale(1.1);
  cursor: pointer;
  color: gray;
}

.info-container a {
  text-decoration: none;
}

/* Ensure header takes full width and aligns items */
.header-container {
  position: fixed; /* Ensure the header is fixed to the viewport */
  bottom: 0;
  left: 0;
  z-index: 990; /* Ensure it stays on top of other elements */
}

.new-visitor{
  background-color: lightgray;
  transition: background-color 0.3s ease;
}

.new-visitor:hover{
  background-color: gray;
}

/* Style the logo */
/* Style the logo container */
/* Adjust the container size */
.header-logo {
  user-select: none;
  cursor: pointer;
  position: fixed;
  top: 1vh;
  max-width: 10vw; /* Makes the logo size responsive based on viewport width */
  overflow: hidden;
  height: auto;
  z-index: 991;
  left: 3vh;
}

:root.dark .header-logo{
  filter: invert(1);
}

.hover-zoom:hover {
  transform: scale(1.05); /* Zoom by 5% */
}

.header-logo-b {
  user-select: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  max-width: 20vw; /* Makes the logo size responsive based on viewport width */
  overflow: hidden;
  height: 30vh;
  z-index: 991;
}


.header-logo .second {
  position: fixed;
  
  opacity: 0;
  transform: translateX(-20%);
  width: 9vh;
}

.grid-icon{
  width: 2vw;
  cursor: pointer;
}

.header-logo-norm {
  width: 9vh;
}

.header-logo-mob {
  width: 12vw;
  height: 12vw;
  top: 2%;
  left: 3%;
}

.header-logo img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain; /* Keeps aspect ratio */
  z-index: 991;
  transition: all 0.5s;
}

.header-logo-b img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain; /* Keeps aspect ratio */
  z-index: 991;
  transition: all 0.5s;
}



/* Ensure the image scales properly */


/* Navigation styling */
.header-nav {
  position: fixed;
  left: 3vh;
  bottom: 3vh;
  display: flex;
  flex-direction: column;
 animation: fadeIn 0.2s ease-in forwards;
 opacity: 0;
 z-index: 99999999;
}


.player-background{
  position: fixed;
  display: flex;
  right: 0;
  bottom: 0;
  height: 90%;
  width: 5%;
  z-index: 997;
}

:root.dark .player-background{
  background-color: #000000;
}


.slight-info {
  user-select: none;
  font-size: 31px;
  bottom: 0;
}



.rphead-container {
  display: flex;
  width: 100%;
  height: 100dvh;
  min-height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}


.dropdown-menu {
  position: fixed;

  right: 0; /* Start at the left of the viewport */
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  top: 0;
 background-color: transparent; /* Optional: Add a background color */
  z-index: 99999999;
 
}

.dropdown-content {
  padding-top: 60px;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  z-index: 99999999;

}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}




.timeline-progress-bar-container__desktop {
  position: relative;
  flex: 1;
  width: 15px;
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
  background-color: rgb(202, 202, 202);
  cursor: alias;
  transition: all 1s;
  z-index: 999;
  display: flex;
  flex-direction: column;
}




.track-info p {
  font-family: Helvetica;
  color: black;
  font-size: 1vw;
}

/* CONTROL {DESKTOP} */

.control-module__desktop {
  z-index: 9999;
  font-family: Helvetica;
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: fixed;
  top: 3%;
  bottom: 3%;
  right: max(15px, 1.5%);
}

.control-module__desktop p{
    font-family: NeueHaasDisplayRoman;
   
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(109, 109, 109, 0.3);
}

.genre{
  font-family: "dot", "VCR", monospace;
}

/* Chrome, Safari, Edge, Opera */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: transparent; /* or semi-transparent */
  border: none;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.control__desktop a {
  font-size: 1vh;
}


/* PROGRESS BAR */
.completed-progress__desktop {
  background-color: rgb(255, 0, 90);
  transition: all 0.5s linear;
}

.progress-bar-chapter-slit-hitbox__desktop {
  position: absolute;
  left: 0;
  height: 20px;
  width: 15px;
  cursor: pointer;
}

.progress-bar-chapter-slit__desktop {
  position: absolute;
  left: 0;
  width: 15px;
  pointer-events: none;
  transition: all 1s;
}

.progress-bar-current-icon__desktop {
  position: absolute;
  left: 50%;
  width: 15px;
  height: auto;
  transform: translateX(-50%);
  transition: top 0.5s linear;
}

.timeline-progress-bar-container__mobile {
  top: 2.4%;
  bottom: 5%;
  height: auto;
  right: max(10px, 3vw);
  transition: all 1s;
}

/* SCROLLING TITLE */
@keyframes scroll-left {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(100%);
  }
}



.control-module__desktop span {
  font-weight: bold;
  text-transform: uppercase;
  width: auto;
  
}


/* CHATROOM */
.blog-container {
  position: fixed;
  bottom: 0;
  left: 3vw;
  height: 100dvh; /* Take up full viewport height */
  width: 100%;
  display: flex;
  overflow: hidden; /* Hide overflow for the parent container */
}

.all-chats {
  width: 90%;
  overflow-y: auto; /* Allow scrolling when content exceeds the height */
  box-sizing: border-box; /* Include padding in the height */
  flex-grow: 1; /* Ensure this part expands to take up available space */
  display: flex;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.styledlink{
  animation: fadeIn .4s  forwards ;

}

.blog-content-text__desktop {
  font-weight: 100;
  height: 100%;
  font-family: Helvetica;
  display: flex;
  flex-direction: column; /* Ensures posts stack vertically */
  align-items: flex-start; /* Align posts to the left */
}



.input-container {
  display: flex;
  padding-top: 2vh;
  bottom: 0%;
  font-family: Helvetica;
  animation-delay: 100ms;
  animation: fadeIn 1s  forwards ;
  z-index: 9999;
}

.input-container button{
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: black;

}

.input-container input {
  font-size: 2vh;
  border: none;
  border-radius: 0;
  transition: all 0.2s;
font-weight: 300;

}

.input-container input:nth-child(2) {
  color: black;
  margin-right: 1vw;
  width: 50%; /* Adjust width for the message input */
  font-weight: 300;
}

.reply-button{
  transition: all 0.2s;
}

.reply-button:hover {
   color: rgb(255, 0, 90);
  }

  .who-are-you::placeholder{
    font-family: Helvetica;
    background-color: transparent;
    color: black;
    opacity: 1; /* Firefox */
    padding-bottom: .3vh;
    padding-left: .3vh;
    margin-right: 1vh;
    font-weight: bold;
  }
  
  .who-are-you{
    animation: glow 4s infinite ;
  
  }
  

.post{
  animation-delay: 100ms;
  animation: fadeIn 1s  forwards ;
}

.scroll-wrapper {
  position: relative;
  width: 70vw;
  
}


.flex-container {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 7vw;
  height: 52vh;
  padding-bottom: 20px;
  scrollbar-width: none; /* For Firefox */  
  scrollbar-color: #d1d1d1 #f7f7f7; /* Thumb color and track color */
}

.flex-container-all {
  position: relative;
  display: flex;
  scroll-behavior: smooth;
  gap: 1vw;
  height: 70vh;
  scrollbar-color: #d1d1d1 #f7f7f7; /* Thumb color and track color */
}

.flex-container::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
  height: 10px; /* Set the height of the scrollbar */
}

.flex-container::-webkit-scrollbar-track {
  background: #000000; /* Set the color of the scrollbar track */
}

.flex-container::-webkit-scrollbar-thumb {
  background: #c00000; /* Set the color of the scrollbar thumb */
  border-radius: 0px; /* Remove rounded corners to make it square */
}

.flex-container::-webkit-scrollbar-thumb:hover {
  background: #ff0000; /* Change the thumb color on hover */
}


.gc {
  scroll-snap-align: center;
}

.nav-text-type{
  font-family: Helvetica;
  color: rgb(194, 194, 194);
  font-weight: bold;
}


.p5Container{
  width: 100%;
  height: 100%;
  /* Let the container adapt to canvas natural aspect ratio */
  display: inline-block;
}



.visitor-log-form {
  display: flex;
  flex-direction: row;
  align-items: center;     /* vertical centering */
  justify-content: center; /* horizontal centering */
  box-sizing: border-box;
}


.visitor-log-textform {
  width: 350px;
  flex-direction: row;
  height: 50vh;
  box-sizing: border-box;
  z-index: 9999;
}

.visitor-log-textform-mobile {
  display: flex;
  top: 70vh;
  left: 7vw;
  flex-direction: row;
  height: auto;
  width: 10vw;
  box-sizing: border-box;
  gap: 2rem;
  z-index: 9999;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* optional spacing between elements */
  text-align: left;
  font-family: Helvetica;
  font-size: 1.4vh;
}

input{
  font-family: Helvetica;
  border: none;
  background-color: transparent;
  text-transform: uppercase; /* 👈 forces uppercase display */
  font-weight: 900;
}

@keyframes pulseOpacity {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}

.pulsing-label {
  background: linear-gradient(
    90deg,
    rgba(67, 74, 71, 0.7) 0%,
    rgba(67, 74, 71, 0.7) 40%,
    rgba(67, 74, 71, 0.3) 50%,
    rgba(67, 74, 71, 0.7) 60%,
    rgba(67, 74, 71, 0.7) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: pulseOpacity 3s ease-in-out infinite;
}

.pulsing-label {
  animation: pulseOpacity 5s ease-in-out infinite;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .p5Container {
    display: flex;
    justify-content: center; /* ✅ centers horizontally */
    align-items: center;     /* centers vertically if needed */
    width: 100%;
    height: 100%;
  }



  .visitor-log-textform {
  display: flex;
position: fixed;
  top: 50vh;
  left: 7vw;
  flex-direction: row;
  height: auto;
  width: 100vw;
  box-sizing: border-box;
  gap: 2rem;
  z-index: 9999;
}
}




/* TILT CSS */
.arc-card-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: calc(50% + (3vw + 284px) / 2);
  transform: translate(-50%, -50%); 
  width: 70vw;
  animation: slideUp 0.6s ease-in-out forwards;
  flex-direction: column;
  perspective: 800px;
  transition: transform 0.3s ease-out;  
}

.arc-card {
  position: relative;
  display: grid;
  width: auto;
  height: auto;
   grid-template-columns: 2.5fr 1fr; 
  border-radius: 0.375rem;
  background-color: #ffffff;
  padding: 1rem;
  padding-bottom: 0;
  color: #000000;
  transition: transform 0.2s ease-out;
}

.arc-card:hover {
  transform: rotateX(var(--x-rotation)) rotateY(var(--y-rotation)) scale(1.05);
}

.arc-card-sketch {
  background-color: #303030;
}

.arc-card-sketch:hover {
  transform: rotateX(0) rotateY(0) scale(1.05);
}

.arc-card-image {
  width: 100%;
}

.arc-card-footer {
  display: flex;
  align-items: end;
}

.arc-card-hover-overlay {
  pointer-events: none;
  position: absolute;
  inset: 0;
}

.arc-card:hover .arc-card-hover-overlay {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;  
  background: radial-gradient(
    at var(--x) var(--y),
    rgba(255, 255, 255, 0.2) 20%,
    transparent 80%
  );
}


/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


