:root {
  color: rgb(0, 0, 0);
  background-color: #f7f7f7;
  cursor: url('./cursor.svg') 8 8, auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i::selection,
a::selection,
p::selection,
b::selection,
br::selection,
span::selection,
img::selection,
span::selection,
sup::selection {
  color: white;
  background-color: rgb(255, 0, 90);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

strong{
  color: white;
  background-color: rgb(255, 0, 90);
  font-size: 3.1vh;
  display: inline;
  font-weight: 100;
}

*:focus {
  outline: none;
  -webkit-appearance: none;
}
